@import url("https://fonts.googleapis.com/css?family=Barlow");

html, body {
  font-family: 'Barlow', sans-serif;
}

h1 {
  font-weight: 600;
}

h4.card-title {
  font-weight: 600;
}

a {
  text-decoration: none;
}

.aspect-ratio-4-3 {
  position: relative;
  width: 100%;
  padding-bottom: 75%; /* 4:3 aspect ratio */
}

.aspect-ratio-4-3 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}